<div class="wrap">
    <h2>Kalenderlijsten:</h2>
    <!-- <button class="bIcon" matTooltip="Maak nieuwe lijst aan" (click)="ToonDetailsTaaklijst()"><i class="material-icons">add</i></button> -->
    <!-- <app-task-list-item-details *ngIf="DetailsTaaklijstZichtbaar" (annuleer)="VerbergDetailsTaaklijst()"></app-task-list-item-details> -->
    <!-- <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" class="itemsRow">
        <div *ngFor="let calendarListItem of calendarListItems" class="taskListColumn" fxLayout="column" fxFlex="49" fxFlex.lt-md="100">
            <app-task-list-item [taskList]="calendarListItem" class="itemWrap"></app-task-list-item>
        </div>
    </div> -->
    <form>
        <mat-form-field>
            <mat-label>Kalenderlijst:</mat-label>
            <mat-select [(value)]="calendarListValue" (selectionChange)="changeSelectionCalendarList()">
              <mat-option *ngFor="let calendarListItem of calendarListItems" [value]="calendarListItem.id">
                {{calendarListItem.summary}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</div>